*{
  text-decoration: none;
  
}
body{
  background-image: url('wp4782898.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar{
  background: rgb(0, 74, 106); font-family: calibri; padding-right: 15px;padding-left: 15px;
}
.navdiv{
  display: flex; align-items: center; justify-content: space-between;
}
.logo a{
  font-size: 35px; font-weight: 600; color: white;
  font-family: myfont;
}
li{
  list-style: none; display: inline-block;
}
li a{
  color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}


button a{
  color: white; font-weight: bold; font-size: 15px;
}
@font-face {
  font-family: myfont;
  src: url(freefont.ttf);
}
p {
  padding-left: 50%;
  padding-top: 5%;
}